# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_URL="postgresql://postgres:password@localhost:5432/time_recording"

# ─── App ──────────────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── Timezone ─────────────────────────────────────────────────────────────────
APP_TIMEZONE=Asia/Singapore

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=a73d6dde-cef2-4418-b831-b36d3598c121
JWT_EXPIRES_IN=8h

# ─── Test Database ────────────────────────────────────────────────────────────
TEST_DATABASE_URL="postgresql://postgres:password@localhost:5432/time_recording_test"